# Node modules
node_modules/

# yarn
.yarn/

# Logs
yarn-debug.log*

# Environment files
.env
.env.local
.env.*.local
dotenv.*

# OS-specific files
.DS_Store
Thumbs.db

# PlayGround
samples/

# Editor-specific files
.vscode/*
!.vscode/settings.json

# Build and temporary files
dist/

# Git-specific
.git/

# Miscellaneous
*.log

# npm
.npmrc