{
  "semi": true,
  "singleQuote": false,
  "trailingComma": "all",
  "printWidth": 80,
  "tabWidth": 2
}
sec   rsa4096/XXXXXXXXXXXXXXXX 2025-07-18 [SC]
      ########################################
uid                 [ultimate] sujii (vvvvise) <powermac.g7@gmail.com>
ssb   rsa4096/$$$$$$$$$$$$$$$$ 2025-07-18 [E]
